/* Font Is kid friendly but  matrue enough for parents of the child and propfessional enough for my end user requirements*/
*{
  font-family: 'Rajdhani', sans-serif;
  margin: 5;
  padding: 0;
}

.topnav {
  background-color: #ffc21a;

  text-align: center;
}

/*Navigation bar is symetrical and easy on the eyes*/
 a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

nav li, nav a {
  display: inline-block;
}


 a:hover {
  background-color: #ddd;
  color: black;
}


 a.active {
  background-color: #ffc21a;
  color: white;
}




.hero-img{
  background-image: url(Images/School.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero2{
  background-image: url(Images/Uniform.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.hero3{
  background-image: url(Images/SchoolMap.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero4{
  background-image: url(Images/Staff.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero5{
  background-image: url(Images/Akonga.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
